---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import { HACKING } from "../../consts";
const posts = await getCollection("posts");
---

<Base title="Posts" , description="Jordan's blog and technical writing">
  <section class="my-5 flex w-full max-w-[90vw] flex-col gap-3 sm:max-w-none">
    <h2 class="text-lg">All Posts</h2>
    <p>
      Below you can find a list of different articles I've written. Generally I write about
      blockchains and software development from a technical perspective. As I add more I might start
      categorising in more granularity.
    </p>
    <ul class="list-none text-left">
      {
        posts.map((post) => (
          <li class="my-5 ml-2 border-l-[1px] border-black pl-5">
            <p class="font-bold">
              <a class="text-red-600 underline hover:text-red-900" href={`/posts/${post.slug}/`}>
                {post.data.title}
              </a>
            </p>
            <p class="italic">{post.data.description}</p>
          </li>
        ))
      }
    </ul>
    <p>
      I've also put together a hand-on series about learning EVM Assembly in a practical way: by
      beating the OpenZeppelin Ethernaut challenges.
    </p>
    <ul class="list-none text-left">
      <li class="my-5 ml-2 border-l-[1px] border-black pl-5">
        <p class="font-bold">
          <a class="text-red-600 underline hover:text-red-900" href={`/posts/${HACKING}/`}>
            Learn Assembly By Hacking Smart Contracts
          </a>
        </p>
      </li>
    </ul>
  </section>
</Base>
