---
const { date, title, org } = Astro.props;
---

<div class="mt-5">
  <div class="flex flex-wrap w-full items-center justify-between">
    <h2 class="m-0 p-0">{title}</h2>
    <h3 class="m-0 p-0">{org}</h3>
  </div>
  <div class="flex flex-wrap w-full items-center justify-between">
    <h4 class="m-0 p-0 italic">{date}</h4>
  </div>
  <div class="my-2 h-[1px] w-full bg-gray-300"></div>
</div>
