---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="w-full flex flex-col items-center justify-center">
  <h2 class="my-3">
    {SITE_TITLE}
  </h2>
  <nav class="w-full flex justify-between gap-2">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/yul">Hack Solidity</HeaderLink>
    <HeaderLink href="https://twitter.com/jordanimran2" target="_blank">Twitter</HeaderLink>
    <HeaderLink href="https://github.com/jordaniza" target="_blank">GitHub</HeaderLink>
  </nav>
  <div class="bg-black h-[1px] w-full"></div>
</header>
