---
import NextPrev from "./NextPrev.astro";
const { title, next, prev } = Astro.props;
---

<div class="flex justify-between items-end my-5">
  <h1 class="text-2xl italic">{title}</h1>
  <NextPrev next={next} prev={prev} />
</div>
