---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"yul-by-hacking">["data"];

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html class="flex flex-col items-center" lang="en">
  <head>
    <BaseHead title={"Jordaniza | " + title} description={description} />
  </head>
  <body class="flex items-center flex-col sm:w-full max-w-[90ch] sm:px-3 break-words">
    <Header title={title} />
    <slot />
    <Footer />
  </body>
</html>
